<header>
  <a routerLink="/">--LOGO--</a>
  <h1>Title</h1>
</header>

<div class="wrapper">

  <aside>
    <nav>
      <ul>
        <li>
          <a routerLink="/pages/pagea" routerLinkActive="active" ariaCurrentWhenActive="page">Page A</a>
        </li>
        <li>
          <a routerLink="/pages/pageb" routerLinkActive="active" ariaCurrentWhenActive="page">Page B</a>
        </li>
        <li>
          <a routerLink="/pages/pagec" routerLinkActive="active" ariaCurrentWhenActive="page">Page C</a>
        </li>
      </ul>
    </nav>
  </aside>



</div>